In [1]:
import pandas as pd
import numpy as np

# 발전량

In [2]:
Quantity = pd.read_csv('./SolarPV_Elec_Problem.csv',header=None,names=['date','quantity'])
Quantity

                            date  quantity
0      2019-07-01T00:00:00+09:00      0.00
1      2019-07-01T00:15:00+09:00      0.00
2      2019-07-01T00:30:00+09:00      0.00
3      2019-07-01T00:45:00+09:00      0.00
4      2019-07-01T01:00:00+09:00      0.00
...                          ...       ...
35120  2020-06-30T20:00:00+09:00      0.02
35121  2020-06-30T20:15:00+09:00      0.00
35122  2020-06-30T20:30:00+09:00      0.00
35123  2020-06-30T20:45:00+09:00      0.00
35124  2020-06-30T21:00:00+09:00      0.00

[35125 rows x 2 columns]

In [3]:
quantity_J = pd.read_csv('./Solar_PV_July.csv',header=None,names=['date','quantity'])
quantity_J

                           date  quantity
0     2020-07-01T00:15:00+09:00     0.000
1     2020-07-01T00:30:00+09:00     0.000
2     2020-07-01T00:45:00+09:00     0.000
3     2020-07-01T01:00:00+09:00     0.000
4     2020-07-01T01:15:00+09:00     0.000
...                         ...       ...
2767  2020-07-29T20:00:00+09:00     0.008
2768  2020-07-29T20:15:00+09:00     0.000
2769  2020-07-29T20:30:00+09:00     0.000
2770  2020-07-29T20:45:00+09:00     0.000
2771  2020-07-29T21:00:00+09:00     0.000

[2772 rows x 2 columns]

In [4]:
add = pd.DataFrame({'date':['2020-06-30T21:15:00+09:00','2020-06-30T21:30:00+09:00',
                            '2020-06-30T21:45:00+09:00','2020-06-30T22:00:00+09:00',
                            '2020-06-30T22:15:00+09:00','2020-06-30T22:30:00+09:00',
                            '2020-06-30T22:45:00+09:00','2020-06-30T23:00:00+09:00',
                            '2020-06-30T23:15:00+09:00','2020-06-30T23:30:00+09:00',
                            '2020-06-30T23:45:00+09:00','2020-07-01T00:00:00+09:00'],
             'quantity':[0.]*12})
add

                         date  quantity
0   2020-06-30T21:15:00+09:00       0.0
1   2020-06-30T21:30:00+09:00       0.0
2   2020-06-30T21:45:00+09:00       0.0
3   2020-06-30T22:00:00+09:00       0.0
4   2020-06-30T22:15:00+09:00       0.0
5   2020-06-30T22:30:00+09:00       0.0
6   2020-06-30T22:45:00+09:00       0.0
7   2020-06-30T23:00:00+09:00       0.0
8   2020-06-30T23:15:00+09:00       0.0
9   2020-06-30T23:30:00+09:00       0.0
10  2020-06-30T23:45:00+09:00       0.0
11  2020-07-01T00:00:00+09:00       0.0

In [5]:
quantity = pd.concat([Quantity,add,quantity_J]).reset_index(drop=True)
quantity

                            date  quantity
0      2019-07-01T00:00:00+09:00     0.000
1      2019-07-01T00:15:00+09:00     0.000
2      2019-07-01T00:30:00+09:00     0.000
3      2019-07-01T00:45:00+09:00     0.000
4      2019-07-01T01:00:00+09:00     0.000
...                          ...       ...
37904  2020-07-29T20:00:00+09:00     0.008
37905  2020-07-29T20:15:00+09:00     0.000
37906  2020-07-29T20:30:00+09:00     0.000
37907  2020-07-29T20:45:00+09:00     0.000
37908  2020-07-29T21:00:00+09:00     0.000

[37909 rows x 2 columns]

In [6]:
# 1시간 단위로 변경

for i in range(int((len(quantity)-1)/4)):
    quantity.quantity[4*i] = quantity.quantity[4*i] + quantity.quantity[4*i+1] + quantity.quantity[4*i+2] + quantity.quantity[4*i+3]
    quantity = quantity.drop([4*i+1,4*i+2,4*i+3])

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [7]:
# 7월 31일 22시, 23시 추가

end = pd.DataFrame({'date':['2020-07-29T22:00:00+09:00','2020-07-29T23:00:00+09:00'],
             'quantity':[0.]*2})
quantity = pd.concat([quantity,end])
quantity

                            date  quantity
0      2019-07-01T00:00:00+09:00     0.000
4      2019-07-01T01:00:00+09:00     0.000
8      2019-07-01T02:00:00+09:00     0.000
12     2019-07-01T03:00:00+09:00     0.000
16     2019-07-01T04:00:00+09:00     0.000
...                          ...       ...
37900  2020-07-29T19:00:00+09:00     0.469
37904  2020-07-29T20:00:00+09:00     0.008
37908  2020-07-29T21:00:00+09:00     0.000
0      2020-07-29T22:00:00+09:00     0.000
1      2020-07-29T23:00:00+09:00     0.000

[9480 rows x 2 columns]

In [8]:
quantity.reset_index(drop=True,inplace=True)
del quantity['date']
quantity

      quantity
0        0.000
1        0.000
2        0.000
3        0.000
4        0.000
...        ...
9475     0.469
9476     0.008
9477     0.000
9478     0.000
9479     0.000

[9480 rows x 1 columns]

In [9]:
# 결측치 확인

quantity[quantity.quantity.isna()==True]

      quantity
5136       NaN
5137       NaN
5138       NaN
5139       NaN
5140       NaN
...        ...
8059       NaN
8060       NaN
8061       NaN
8062       NaN
8063       NaN

[72 rows x 1 columns]

# 태양고도

In [10]:
altitude = pd.read_csv('./solar_altitude.csv')
altitude

                           date  altitude
0     2019-07-01 00:00:00+09:00 -29.27220
1     2019-07-01 01:00:00+09:00 -29.40307
2     2019-07-01 02:00:00+09:00 -26.39168
3     2019-07-01 03:00:00+09:00 -20.49290
4     2019-07-01 04:00:00+09:00 -12.50007
...                         ...       ...
9523  2020-07-31 19:00:00+09:00   6.15018
9524  2020-07-31 20:00:00+09:00  -4.50392
9525  2020-07-31 21:00:00+09:00 -15.01526
9526  2020-07-31 22:00:00+09:00 -23.49217
9527  2020-07-31 23:00:00+09:00 -30.32584

[9528 rows x 2 columns]

In [11]:
# 결측치 확인

altitude.isna().sum()

date        0
altitude    0
dtype: int64

In [12]:
altitude['date'] = pd.to_datetime(altitude['date'])
alldate = altitude.date
alldate

0      2019-07-01 00:00:00+09:00
1      2019-07-01 01:00:00+09:00
2      2019-07-01 02:00:00+09:00
3      2019-07-01 03:00:00+09:00
4      2019-07-01 04:00:00+09:00
                  ...
9523   2020-07-31 19:00:00+09:00
9524   2020-07-31 20:00:00+09:00
9525   2020-07-31 21:00:00+09:00
9526   2020-07-31 22:00:00+09:00
9527   2020-07-31 23:00:00+09:00
Name: date, Length: 9528, dtype: datetime64[ns, pytz.FixedOffset(540)]

In [13]:
altitude = altitude
del altitude['date']
altitude

      altitude
0    -29.27220
1    -29.40307
2    -26.39168
3    -20.49290
4    -12.50007
...        ...
9523   6.15018
9524  -4.50392
9525 -15.01526
9526 -23.49217
9527 -30.32584

[9528 rows x 1 columns]

# 청주 날씨

In [14]:
Weather = pd.read_csv('./weather_cheongju.csv')
Weather

,date,temperature(C),rainfall(mm),wind_speed(m/s),wind_direction(16point),humidity(%),pressure(hPa),sunshine(hr),solar_radiation(MJ/m2),snowfall(cm),cloud(10percentile),ground_temperature(C)
0,2019-07-01 0:00,23.3,NaN,1.3,250.0,84.0,997.4,NaN,NaN,NaN,8.0,22.6
1,2019-07-01 1:00,23.2,NaN,0.8,250.0,86.0,997.3,NaN,NaN,NaN,10.0,23.1
2,2019-07-01 2:00,23.1,NaN,1.1,250.0,86.0,997.0,NaN,NaN,NaN,7.0,23.1
3,2019-07-01 3:00,23.0,NaN,1.3,250.0,87.0,997.1,NaN,NaN,NaN,9.0,23.0
4,2019-07-01 4:00,22.7,NaN,0.6,250.0,88.0,997.3,NaN,NaN,NaN,9.0,22.2
...,...,...,...,...,...,...,...,...,...,...,...,...
8779,2020-06-30 19:00,20.5,0.4,1.0,230.0,85.0,989.3,0.0,0.13,NaN,10.0,21.9
8780,2020-06-30 20:00,20.3,0.0,0.9,270.0,86.0,990.1,0.0,0.06,NaN,10.0,21.5
8781,2020-06-30 21:00,20.2,0.0,1.7,290.0,82.0,991.3,NaN,NaN,NaN,10.0,20.8
8782,2020-06-30 22:00,19.2,0.5,1.0,270.0,89.0,992.1,NaN,NaN,NaN,10.0,20.7
8783,2020-06-30 23:00,19.2,0.1,2.2,290.0,83.0,993.0,NaN,NaN,NaN,10.0,20.0

In [15]:
weather = Weather[['temperature(C)','wind_speed(m/s)','wind_direction(16point)','humidity(%)','cloud(10percentile)']]
weather.columns = ['temperature','wind_speed','wind_direction','humidity','cloud']
weather

      temperature  wind_speed  wind_direction  humidity  cloud
0            23.3         1.3           250.0      84.0    8.0
1            23.2         0.8           250.0      86.0   10.0
2            23.1         1.1           250.0      86.0    7.0
3            23.0         1.3           250.0      87.0    9.0
4            22.7         0.6           250.0      88.0    9.0
...           ...         ...             ...       ...    ...
8779         20.5         1.0           230.0      85.0   10.0
8780         20.3         0.9           270.0      86.0   10.0
8781         20.2         1.7           290.0      82.0   10.0
8782         19.2         1.0           270.0      89.0   10.0
8783         19.2         2.2           290.0      83.0   10.0

[8784 rows x 5 columns]

In [16]:
# 날씨데이터는 시계열이므로 결측치 선형보간 가능

weather = weather.interpolate()
weather.isna().sum()

temperature       0
wind_speed        0
wind_direction    0
humidity          0
cloud             0
dtype: int64

# 일사량

In [17]:
Radiation = Weather[['date','solar_radiation(MJ/m2)']]
Radiation.columns = ['date','radiation']
Radiation

                  date  radiation
0      2019-07-01 0:00        NaN
1      2019-07-01 1:00        NaN
2      2019-07-01 2:00        NaN
3      2019-07-01 3:00        NaN
4      2019-07-01 4:00        NaN
...                ...        ...
8779  2020-06-30 19:00       0.13
8780  2020-06-30 20:00       0.06
8781  2020-06-30 21:00        NaN
8782  2020-06-30 22:00        NaN
8783  2020-06-30 23:00        NaN

[8784 rows x 2 columns]

In [18]:
# OpenAPI로 받은 7월 일사량

radiation_J = pd.read_csv('./radiation_api.csv')
radiation_J.columns = ['date','radiation']
radiation_J

                 date  radiation
0    2020-07-01 00:00       0.00
1    2020-07-01 01:00       0.00
2    2020-07-01 02:00       0.00
3    2020-07-01 03:00       0.00
4    2020-07-01 04:00       0.00
..                ...        ...
677  2020-07-29 05:00       0.00
678  2020-07-29 06:00       0.06
679  2020-07-29 07:00       0.07
680  2020-07-29 08:00       0.13
681  2020-07-29 09:00       0.19

[682 rows x 2 columns]

In [19]:
radiation = pd.concat([Radiation,radiation_J])
radiation['date'] = pd.to_datetime(radiation['date'])
radiation.set_index('date',inplace=True)
radiation

                     radiation
date
2019-07-01 00:00:00        NaN
2019-07-01 01:00:00        NaN
2019-07-01 02:00:00        NaN
2019-07-01 03:00:00        NaN
2019-07-01 04:00:00        NaN
...                        ...
2020-07-29 05:00:00       0.00
2020-07-29 06:00:00       0.06
2020-07-29 07:00:00       0.07
2020-07-29 08:00:00       0.13
2020-07-29 09:00:00       0.19

[9466 rows x 1 columns]

In [20]:
# 시간별 결측치 확인

for i in range(24):
    tmp = list(radiation[radiation['radiation'].isna()==True].index.hour).count(i)
    print(i,':',tmp)

0 : 366
1 : 366
2 : 366
3 : 366
4 : 366
5 : 366
6 : 226
7 : 116
8 : 0
9 : 0
10 : 0
11 : 0
12 : 1
13 : 1
14 : 0
15 : 1
16 : 1
17 : 1
18 : 0
19 : 117
20 : 221
21 : 366
22 : 366
23 : 366

In [21]:
# 밤(19~7)의 결측치는 0으로, 낮(8~18)의 결측치는 선형보간

for i in list(range(8))+list(range(19,24)):
    radiation[(radiation.radiation.isna()==True) & (radiation.index.hour==i)] = 0

radiation = radiation.interpolate()

In [22]:
# 결측치 확인

radiation.isna().sum()

radiation    0
dtype: int64

In [23]:
radiation.reset_index(drop=True,inplace=True)
radiation

      radiation
0          0.00
1          0.00
2          0.00
3          0.00
4          0.00
...         ...
9461       0.00
9462       0.06
9463       0.07
9464       0.13
9465       0.19

[9466 rows x 1 columns]

# 예보데이터

In [24]:
# 20시(세계시간11시)에 발표된 3시간 단위의 예보데이터

def make_pre_data(name,col_name):
    n = pd.read_csv('./청주시_흥덕구_복대1동_예보(2019.07-2020.06)/'+name+'.csv')
    n.columns = ['day','hour','forecast','value']
    n = n[(n.hour==1100.0) & (n.forecast>=4.0) & (n.forecast<=25.0)]
    n.reset_index(drop=True,inplace=True)

    t=[]
    length = len(n)
    for i in range(length):
        t.append(n.value[i])
        if i==length:
            break
        t.append(-1)
        t.append(-1)

    n = pd.DataFrame({col_name:t[:8782]})
    n[n[col_name]==-1] = np.nan
    if name == '하늘상태':
        n = n.fillna(method='ffill')
    else :
        n = round(n.interpolate(),1)
    return n

In [25]:
df1 = make_pre_data('3시간기온','pre_temperature')
df2 = make_pre_data('풍속','pre_wind_speed')
df3 = make_pre_data('풍향','pre_wind_direction')
df4 = make_pre_data('습도','pre_humidity')
df5 = make_pre_data('하늘상태','pre_cloud')
df6 = make_pre_data('강수확률','pre_rain')

pre_weather = pd.concat([df1,df2,df3,df4,df5,df6],axis=1)
pre_weather

,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain
0,24.0,1.6,252.0,80.0,3.0,20.0
1,23.7,1.5,253.7,81.7,3.0,20.0
2,23.3,1.4,255.3,83.3,3.0,20.0
3,23.0,1.3,257.0,85.0,3.0,20.0
4,23.0,1.2,254.3,85.0,3.0,13.3
...,...,...,...,...,...,...
8777,22.7,4.3,325.7,68.3,4.0,40.0
8778,23.0,4.5,321.0,65.0,4.0,30.0
8779,22.3,3.7,321.0,66.7,4.0,26.7
8780,21.7,2.8,321.0,68.3,4.0,23.3
8781,21.0,2.0,321.0,70.0,3.0,20.0

# 7.31 예보 (OpenAPI)

In [26]:
pre_weather_0731 = pd.read_csv('./pre_weather_api_07292000.csv')
pre_weather_0731

,baseDate,baseTime,fcstDate,fcstTime,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain
0,20200729,2000,20200730,0,25,1.2,138,90,4,60
1,20200729,2000,20200730,300,25,1.1,128,90,4,80
2,20200729,2000,20200730,600,24,1.0,191,90,4,80
3,20200729,2000,20200730,900,24,1.5,203,90,4,80
4,20200729,2000,20200730,1200,25,1.9,227,85,4,60
5,20200729,2000,20200730,1500,26,2.3,257,80,4,70
6,20200729,2000,20200730,1800,27,2.1,251,80,4,60
7,20200729,2000,20200730,2100,26,1.4,210,85,4,30
8,20200729,2000,20200731,0,25,1.2,222,90,4,30
9,20200729,2000,20200731,300,25,1.1,225,90,4,30
10,20200729,2000,20200731,600,24,1.0,209,95,4,30
11,20200729,2000,20200731,900,25,1.4,240,90,4,30
12,20200729,2000,20200731,1200,28,1.8,276,75,4,30
13,20200729,2000,20200731,1500,29,2.1,259,75,4,60
14,20200729,2000,20200731,1800,28,2.2,248,80,4,60
15,20200729,2000,20200731,2100,26,1.4,205,85,4,30
16,20200729,2000,20200801,0,25,1.2,200,90,4,30

In [27]:
pre_weather_0731 = pre_weather_0731.iloc[8:].reset_index(drop=True)
pre_weather_0731

,baseDate,baseTime,fcstDate,fcstTime,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain
0,20200729,2000,20200731,0,25,1.2,222,90,4,30
1,20200729,2000,20200731,300,25,1.1,225,90,4,30
2,20200729,2000,20200731,600,24,1.0,209,95,4,30
3,20200729,2000,20200731,900,25,1.4,240,90,4,30
4,20200729,2000,20200731,1200,28,1.8,276,75,4,30
5,20200729,2000,20200731,1500,29,2.1,259,75,4,60
6,20200729,2000,20200731,1800,28,2.2,248,80,4,60
7,20200729,2000,20200731,2100,26,1.4,205,85,4,30
8,20200729,2000,20200801,0,25,1.2,200,90,4,30

In [28]:
def make_pre_data_0731(n,col_name):
    t=[]
    length = len(n)
    for i in range(length):
        t.append(n[col_name][i])
        if i==length-1:
            break
        t.append(-1)
        t.append(-1)

    n = pd.DataFrame({col_name:t})
    n[n[col_name]==-1] = np.nan
    if col_name == 'pre_cloud':
        n = n.fillna(method='ffill')
    else :
        n = round(n.interpolate(),1)
    return n

In [29]:
df1 = make_pre_data_0731(pre_weather_0731,'pre_temperature')
df2 = make_pre_data_0731(pre_weather_0731,'pre_wind_speed')
df3 = make_pre_data_0731(pre_weather_0731,'pre_wind_direction')
df4 = make_pre_data_0731(pre_weather_0731,'pre_humidity')
df5 = make_pre_data_0731(pre_weather_0731,'pre_cloud')
df6 = make_pre_data_0731(pre_weather_0731,'pre_rain')

pre_weather_0731 = pd.concat([df1,df2,df3,df4,df5,df6],axis=1)[:24]
pre_weather_0731

,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain
0,25.0,1.2,222.0,90.0,4.0,30.0
1,25.0,1.2,223.0,90.0,4.0,30.0
2,25.0,1.1,224.0,90.0,4.0,30.0
3,25.0,1.1,225.0,90.0,4.0,30.0
4,24.7,1.1,219.7,91.7,4.0,30.0
5,24.3,1.0,214.3,93.3,4.0,30.0
6,24.0,1.0,209.0,95.0,4.0,30.0
7,24.3,1.1,219.3,93.3,4.0,30.0
8,24.7,1.3,229.7,91.7,4.0,30.0
9,25.0,1.4,240.0,90.0,4.0,30.0
10,26.0,1.5,252.0,85.0,4.0,30.0
11,27.0,1.7,264.0,80.0,4.0,30.0
12,28.0,1.8,276.0,75.0,4.0,30.0
13,28.3,1.9,270.3,75.0,4.0,40.0
14,28.7,2.0,264.7,75.0,4.0,50.0
15,29.0,2.1,259.0,75.0,4.0,60.0
16,28.7,2.1,255.3,76.7,4.0,60.0
17,28.3,2.2,251.7,78.3,4.0,60.0
18,28.0,2.2,248.0,80.0,4.0,60.0
19,27.3,1.9,233.7,81.7,4.0,50.0
20,26.7,1.7,219.3,83.3,4.0,40.0
21,26.0,1.4,205.0,85.0,4.0,30.0
22,25.7,1.3,203.3,86.7,4.0,30.0
23,25.3,1.3,201.7,88.3,4.0,30.0

# 종합데이터

In [30]:
data1 = pd.concat([alldate,quantity,radiation,altitude,pre_weather],axis=1)
data1

,date,quantity,radiation,altitude,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain
0,2019-07-01 00:00:00+09:00,0.0,0.0,-29.27220,24.0,1.6,252.0,80.0,3.0,20.0
1,2019-07-01 01:00:00+09:00,0.0,0.0,-29.40307,23.7,1.5,253.7,81.7,3.0,20.0
2,2019-07-01 02:00:00+09:00,0.0,0.0,-26.39168,23.3,1.4,255.3,83.3,3.0,20.0
3,2019-07-01 03:00:00+09:00,0.0,0.0,-20.49290,23.0,1.3,257.0,85.0,3.0,20.0
4,2019-07-01 04:00:00+09:00,0.0,0.0,-12.50007,23.0,1.2,254.3,85.0,3.0,13.3
...,...,...,...,...,...,...,...,...,...,...
9523,2020-07-31 19:00:00+09:00,NaN,NaN,6.15018,NaN,NaN,NaN,NaN,NaN,NaN
9524,2020-07-31 20:00:00+09:00,NaN,NaN,-4.50392,NaN,NaN,NaN,NaN,NaN,NaN
9525,2020-07-31 21:00:00+09:00,NaN,NaN,-15.01526,NaN,NaN,NaN,NaN,NaN,NaN
9526,2020-07-31 22:00:00+09:00,NaN,NaN,-23.49217,NaN,NaN,NaN,NaN,NaN,NaN
9527,2020-07-31 23:00:00+09:00,NaN,NaN,-30.32584,NaN,NaN,NaN,NaN,NaN,NaN

## 7월31일 예보 추가

In [31]:
data1[-24:]

,date,quantity,radiation,altitude,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain
9504,2020-07-31 00:00:00+09:00,NaN,NaN,-34.10476,NaN,NaN,NaN,NaN,NaN,NaN
9505,2020-07-31 01:00:00+09:00,NaN,NaN,-34.35301,NaN,NaN,NaN,NaN,NaN,NaN
9506,2020-07-31 02:00:00+09:00,NaN,NaN,-31.28340,NaN,NaN,NaN,NaN,NaN,NaN
9507,2020-07-31 03:00:00+09:00,NaN,NaN,-25.21020,NaN,NaN,NaN,NaN,NaN,NaN
9508,2020-07-31 04:00:00+09:00,NaN,NaN,-16.59162,NaN,NaN,NaN,NaN,NaN,NaN
9509,2020-07-31 05:00:00+09:00,NaN,NaN,-7.05287,NaN,NaN,NaN,NaN,NaN,NaN
9510,2020-07-31 06:00:00+09:00,NaN,NaN,3.48460,NaN,NaN,NaN,NaN,NaN,NaN
9511,2020-07-31 07:00:00+09:00,NaN,NaN,15.21018,NaN,NaN,NaN,NaN,NaN,NaN
9512,2020-07-31 08:00:00+09:00,NaN,NaN,27.14225,NaN,NaN,NaN,NaN,NaN,NaN
9513,2020-07-31 09:00:00+09:00,NaN,NaN,39.13128,NaN,NaN,NaN,NaN,NaN,NaN
9514,2020-07-31 10:00:00+09:00,NaN,NaN,50.56559,NaN,NaN,NaN,NaN,NaN,NaN
9515,2020-07-31 11:00:00+09:00,NaN,NaN,61.43416,NaN,NaN,NaN,NaN,NaN,NaN
9516,2020-07-31 12:00:00+09:00,NaN,NaN,69.38523,NaN,NaN,NaN,NaN,NaN,NaN
9517,2020-07-31 13:00:00+09:00,NaN,NaN,70.36364,NaN,NaN,NaN,NaN,NaN,NaN
9518,2020-07-31 14:00:00+09:00,NaN,NaN,63.49220,NaN,NaN,NaN,NaN,NaN,NaN
9519,2020-07-31 15:00:00+09:00,NaN,NaN,53.25525,NaN,NaN,NaN,NaN,NaN,NaN
9520,2020-07-31 16:00:00+09:00,NaN,NaN,41.49203,NaN,NaN,NaN,NaN,NaN,NaN
9521,2020-07-31 17:00:00+09:00,NaN,NaN,29.51056,NaN,NaN,NaN,NaN,NaN,NaN
9522,2020-07-31 18:00:00+09:00,NaN,NaN,17.54206,NaN,NaN,NaN,NaN,NaN,NaN
9523,2020-07-31 19:00:00+09:00,NaN,NaN,6.15018,NaN,NaN,NaN,NaN,NaN,NaN
9524,2020-07-31 20:00:00+09:00,NaN,NaN,-4.50392,NaN,NaN,NaN,NaN,NaN,NaN
9525,2020-07-31 21:00:00+09:00,NaN,NaN,-15.01526,NaN,NaN,NaN,NaN,NaN,NaN
9526,2020-07-31 22:00:00+09:00,NaN,NaN,-23.49217,NaN,NaN,NaN,NaN,NaN,NaN
9527,2020-07-31 23:00:00+09:00,NaN,NaN,-30.32584,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
for i in list(pre_weather_0731.columns):
    for j in range(24):
        data1[i][9504+j] = pre_weather_0731[i][j]

data1[-24:]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,date,quantity,radiation,altitude,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain
9504,2020-07-31 00:00:00+09:00,NaN,NaN,-34.10476,25.0,1.2,222.0,90.0,4.0,30.0
9505,2020-07-31 01:00:00+09:00,NaN,NaN,-34.35301,25.0,1.2,223.0,90.0,4.0,30.0
9506,2020-07-31 02:00:00+09:00,NaN,NaN,-31.28340,25.0,1.1,224.0,90.0,4.0,30.0
9507,2020-07-31 03:00:00+09:00,NaN,NaN,-25.21020,25.0,1.1,225.0,90.0,4.0,30.0
9508,2020-07-31 04:00:00+09:00,NaN,NaN,-16.59162,24.7,1.1,219.7,91.7,4.0,30.0
9509,2020-07-31 05:00:00+09:00,NaN,NaN,-7.05287,24.3,1.0,214.3,93.3,4.0,30.0
9510,2020-07-31 06:00:00+09:00,NaN,NaN,3.48460,24.0,1.0,209.0,95.0,4.0,30.0
9511,2020-07-31 07:00:00+09:00,NaN,NaN,15.21018,24.3,1.1,219.3,93.3,4.0,30.0
9512,2020-07-31 08:00:00+09:00,NaN,NaN,27.14225,24.7,1.3,229.7,91.7,4.0,30.0
9513,2020-07-31 09:00:00+09:00,NaN,NaN,39.13128,25.0,1.4,240.0,90.0,4.0,30.0
9514,2020-07-31 10:00:00+09:00,NaN,NaN,50.56559,26.0,1.5,252.0,85.0,4.0,30.0
9515,2020-07-31 11:00:00+09:00,NaN,NaN,61.43416,27.0,1.7,264.0,80.0,4.0,30.0
9516,2020-07-31 12:00:00+09:00,NaN,NaN,69.38523,28.0,1.8,276.0,75.0,4.0,30.0
9517,2020-07-31 13:00:00+09:00,NaN,NaN,70.36364,28.3,1.9,270.3,75.0,4.0,40.0
9518,2020-07-31 14:00:00+09:00,NaN,NaN,63.49220,28.7,2.0,264.7,75.0,4.0,50.0
9519,2020-07-31 15:00:00+09:00,NaN,NaN,53.25525,29.0,2.1,259.0,75.0,4.0,60.0
9520,2020-07-31 16:00:00+09:00,NaN,NaN,41.49203,28.7,2.1,255.3,76.7,4.0,60.0
9521,2020-07-31 17:00:00+09:00,NaN,NaN,29.51056,28.3,2.2,251.7,78.3,4.0,60.0
9522,2020-07-31 18:00:00+09:00,NaN,NaN,17.54206,28.0,2.2,248.0,80.0,4.0,60.0
9523,2020-07-31 19:00:00+09:00,NaN,NaN,6.15018,27.3,1.9,233.7,81.7,4.0,50.0
9524,2020-07-31 20:00:00+09:00,NaN,NaN,-4.50392,26.7,1.7,219.3,83.3,4.0,40.0
9525,2020-07-31 21:00:00+09:00,NaN,NaN,-15.01526,26.0,1.4,205.0,85.0,4.0,30.0
9526,2020-07-31 22:00:00+09:00,NaN,NaN,-23.49217,25.7,1.3,203.3,86.7,4.0,30.0
9527,2020-07-31 23:00:00+09:00,NaN,NaN,-30.32584,25.3,1.3,201.7,88.3,4.0,30.0

In [33]:
data1['date'] = pd.to_datetime(data1['date'])
data1 = data1.set_index('date')
data1

,quantity,radiation,altitude,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain
date,,,,,,,,,
2019-07-01 00:00:00+09:00,0.0,0.0,-29.27220,24.0,1.6,252.0,80.0,3.0,20.0
2019-07-01 01:00:00+09:00,0.0,0.0,-29.40307,23.7,1.5,253.7,81.7,3.0,20.0
2019-07-01 02:00:00+09:00,0.0,0.0,-26.39168,23.3,1.4,255.3,83.3,3.0,20.0
2019-07-01 03:00:00+09:00,0.0,0.0,-20.49290,23.0,1.3,257.0,85.0,3.0,20.0
2019-07-01 04:00:00+09:00,0.0,0.0,-12.50007,23.0,1.2,254.3,85.0,3.0,13.3
...,...,...,...,...,...,...,...,...,...
2020-07-31 19:00:00+09:00,NaN,NaN,6.15018,27.3,1.9,233.7,81.7,4.0,50.0
2020-07-31 20:00:00+09:00,NaN,NaN,-4.50392,26.7,1.7,219.3,83.3,4.0,40.0
2020-07-31 21:00:00+09:00,NaN,NaN,-15.01526,26.0,1.4,205.0,85.0,4.0,30.0
2020-07-31 22:00:00+09:00,NaN,NaN,-23.49217,25.7,1.3,203.3,86.7,4.0,30.0
2020-07-31 23:00:00+09:00,NaN,NaN,-30.32584,25.3,1.3,201.7,88.3,4.0,30.0

# 파생변수

## 계절/날씨-시간   평균/사분위수

In [34]:
# 계절/시간 변수 만들기

season=[];time=[]
for i in list(range(len(data1))):
    cond = data1.index.month[i]
    if cond<=2 or cond==12:
        season.append('winter')
    elif cond<=5:
        season.append('spring')
    elif cond<=8:
        season.append('summer')
    elif cond<=11:
        season.append('fall')
    time.append(data1.index.hour[i])

season = pd.DataFrame({'season':season})
time = pd.DataFrame({'time':time})

In [35]:
# 계절/시간 변수 합치기

data2 = data1.reset_index()
data2['date'] = pd.to_datetime(data2['date'])
data2 = pd.concat([data2,season,time],axis=1)
data2

,date,quantity,radiation,altitude,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain,season,time
0,2019-07-01 00:00:00+09:00,0.0,0.0,-29.27220,24.0,1.6,252.0,80.0,3.0,20.0,summer,0
1,2019-07-01 01:00:00+09:00,0.0,0.0,-29.40307,23.7,1.5,253.7,81.7,3.0,20.0,summer,1
2,2019-07-01 02:00:00+09:00,0.0,0.0,-26.39168,23.3,1.4,255.3,83.3,3.0,20.0,summer,2
3,2019-07-01 03:00:00+09:00,0.0,0.0,-20.49290,23.0,1.3,257.0,85.0,3.0,20.0,summer,3
4,2019-07-01 04:00:00+09:00,0.0,0.0,-12.50007,23.0,1.2,254.3,85.0,3.0,13.3,summer,4
...,...,...,...,...,...,...,...,...,...,...,...,...
9523,2020-07-31 19:00:00+09:00,NaN,NaN,6.15018,27.3,1.9,233.7,81.7,4.0,50.0,summer,19
9524,2020-07-31 20:00:00+09:00,NaN,NaN,-4.50392,26.7,1.7,219.3,83.3,4.0,40.0,summer,20
9525,2020-07-31 21:00:00+09:00,NaN,NaN,-15.01526,26.0,1.4,205.0,85.0,4.0,30.0,summer,21
9526,2020-07-31 22:00:00+09:00,NaN,NaN,-23.49217,25.7,1.3,203.3,86.7,4.0,30.0,summer,22
9527,2020-07-31 23:00:00+09:00,NaN,NaN,-30.32584,25.3,1.3,201.7,88.3,4.0,30.0,summer,23

In [36]:
# 계절에 따른 동시간의 평균/사분위수

r_st_mean=[]
r_st_quantile1=[]
r_st_quantile2=[]
r_st_quantile3=[]
q_st_mean=[]
q_st_quantile1=[]
q_st_quantile2=[]
q_st_quantile3=[]


for i in list(range(len(data2))):
    s = data2['season'][i]
    t = data2['time'][i]
    rst = data2.loc[(data2['season']==s) & (data2['time']==t)].radiation
    qst = data2.loc[(data2['season']==s) & (data2['time']==t)].quantity
    
    rs = rst.mean()
    rs1 = rst.quantile(.25)
    rs2 = rst.quantile(.5)
    rs3 = rst.quantile(.75)
    
    qs = qst.mean()
    qs1 = qst.quantile(.25)
    qs2 = qst.quantile(.5)
    qs3 = qst.quantile(.75)
    
    r_st_mean.append(round(rs,3))
    r_st_quantile1.append(round(rs1,3))
    r_st_quantile2.append(round(rs2,3))
    r_st_quantile3.append(round(rs3,3))

    q_st_mean.append(round(qs,3))
    q_st_quantile1.append(round(qs1,3))
    q_st_quantile2.append(round(qs2,3))
    q_st_quantile3.append(round(qs3,3))

In [37]:
dic1 = {'radiation_st_mean':r_st_mean,
       'radiation_st_quantile1':r_st_quantile1,
       'radiation_st_quantile2':r_st_quantile2,
       'radiation_st_quantile3':r_st_quantile3,
       'quantity_st_mean':q_st_mean,
       'quantity_st_quantile1':q_st_quantile1,
       'quantity_st_quantile2':q_st_quantile2,
       'quantity_st_quantile3':q_st_quantile3
      }
df_st = pd.DataFrame(dic1)
df_st

,radiation_st_mean,radiation_st_quantile1,radiation_st_quantile2,radiation_st_quantile3,quantity_st_mean,quantity_st_quantile1,quantity_st_quantile2,quantity_st_quantile3
0,0.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000
1,0.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000
2,0.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000
3,0.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000
4,0.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000
...,...,...,...,...,...,...,...,...
9523,0.351,0.208,0.325,0.50,1.146,0.396,0.876,1.884
9524,0.091,0.060,0.090,0.12,0.016,0.000,0.012,0.028
9525,0.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000
9526,0.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000
9527,0.000,0.000,0.000,0.00,0.000,0.000,0.000,0.000

In [38]:
# 하늘상태에 따른 동시간의 평균/사분위수

r_ct_mean=[]
r_ct_quantile1=[]
r_ct_quantile2=[]
r_ct_quantile3=[]
q_ct_mean=[]
q_ct_quantile1=[]
q_ct_quantile2=[]
q_ct_quantile3=[]

for i in list(range(len(data2))):
    c = data2['pre_cloud'][i]
    t = data2['time'][i]
    
    rct = data2.loc[(data2['pre_cloud']==c) & (data2['time']==t)].radiation
    qct = data2.loc[(data2['pre_cloud']==c) & (data2['time']==t)].quantity
    
    rc = rct.mean()
    rc1 = rct.quantile(.25)
    rc2 = rct.quantile(.5)
    rc3 = rct.quantile(.75)
    
    qc = qct.mean()
    qc1 = qct.quantile(.25)
    qc2 = qct.quantile(.5)
    qc3 = qct.quantile(.75)
   
    r_ct_mean.append(round(rc,3))
    r_ct_quantile1.append(round(rc1,3))
    r_ct_quantile2.append(round(rc2,3))
    r_ct_quantile3.append(round(rc3,3))
    
    q_ct_mean.append(round(qc,3))
    q_ct_quantile1.append(round(qc1,3))
    q_ct_quantile2.append(round(qc2,3))
    q_ct_quantile3.append(round(qc3,3))

In [39]:
dic2 = {'radiation_ct_mean':r_ct_mean,
       'radiation_ct_quantile1':r_ct_quantile1,
       'radiation_ct_quantile2':r_ct_quantile2,
       'radiation_ct_quantile3':r_ct_quantile3,
       'quantity_ct_mean':q_ct_mean,
       'quantity_ct_quantile1':q_ct_quantile1,
       'quantity_ct_quantile2':q_ct_quantile2,
       'quantity_ct_quantile3':q_ct_quantile3
      }
df_ct = pd.DataFrame(dic2)

In [40]:
data3 = pd.concat([data2,df_st,df_ct],axis=1)
del data3['season']
del data3['time']
data3

,date,quantity,radiation,altitude,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain,...,quantity_st_quantile2,quantity_st_quantile3,radiation_ct_mean,radiation_ct_quantile1,radiation_ct_quantile2,radiation_ct_quantile3,quantity_ct_mean,quantity_ct_quantile1,quantity_ct_quantile2,quantity_ct_quantile3
0,2019-07-01 00:00:00+09:00,0.0,0.0,-29.27220,24.0,1.6,252.0,80.0,3.0,20.0,...,0.000,0.000,0.000,0.0,0.00,0.000,0.000,0.0,0.000,0.000
1,2019-07-01 01:00:00+09:00,0.0,0.0,-29.40307,23.7,1.5,253.7,81.7,3.0,20.0,...,0.000,0.000,0.000,0.0,0.00,0.000,0.000,0.0,0.000,0.000
2,2019-07-01 02:00:00+09:00,0.0,0.0,-26.39168,23.3,1.4,255.3,83.3,3.0,20.0,...,0.000,0.000,0.000,0.0,0.00,0.000,0.000,0.0,0.000,0.000
3,2019-07-01 03:00:00+09:00,0.0,0.0,-20.49290,23.0,1.3,257.0,85.0,3.0,20.0,...,0.000,0.000,0.000,0.0,0.00,0.000,0.000,0.0,0.000,0.000
4,2019-07-01 04:00:00+09:00,0.0,0.0,-12.50007,23.0,1.2,254.3,85.0,3.0,13.3,...,0.000,0.000,0.000,0.0,0.00,0.000,0.000,0.0,0.000,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9523,2020-07-31 19:00:00+09:00,NaN,NaN,6.15018,27.3,1.9,233.7,81.7,4.0,50.0,...,0.876,1.884,0.107,0.0,0.04,0.162,0.296,0.0,0.011,0.274
9524,2020-07-31 20:00:00+09:00,NaN,NaN,-4.50392,26.7,1.7,219.3,83.3,4.0,40.0,...,0.012,0.028,0.026,0.0,0.00,0.042,0.004,0.0,0.000,0.000
9525,2020-07-31 21:00:00+09:00,NaN,NaN,-15.01526,26.0,1.4,205.0,85.0,4.0,30.0,...,0.000,0.000,0.000,0.0,0.00,0.000,0.000,0.0,0.000,0.000
9526,2020-07-31 22:00:00+09:00,NaN,NaN,-23.49217,25.7,1.3,203.3,86.7,4.0,30.0,...,0.000,0.000,0.000,0.0,0.00,0.000,0.000,0.0,0.000,0.000
9527,2020-07-31 23:00:00+09:00,NaN,NaN,-30.32584,25.3,1.3,201.7,88.3,4.0,30.0,...,0.000,0.000,0.000,0.0,0.00,0.000,0.000,0.0,0.000,0.000

In [41]:
# 결측치 확인

data3.isna().sum()

date                        0
quantity                  120
radiation                  62
altitude                    0
pre_temperature           722
pre_wind_speed            722
pre_wind_direction        722
pre_humidity              722
pre_cloud                 722
pre_rain                  722
radiation_st_mean           0
radiation_st_quantile1      0
radiation_st_quantile2      0
radiation_st_quantile3      0
quantity_st_mean            0
quantity_st_quantile1       0
quantity_st_quantile2       0
quantity_st_quantile3       0
radiation_ct_mean         722
radiation_ct_quantile1    722
radiation_ct_quantile2    722
radiation_ct_quantile3    722
quantity_ct_mean          722
quantity_ct_quantile1     722
quantity_ct_quantile2     722
quantity_ct_quantile3     722
dtype: int64

## 자기회귀

In [42]:
# 7일간의 동시간 발전량 자기회귀

ar1 = data3.quantity.shift(24*1)
ar2 = data3.quantity.shift(24*2)
ar3 = data3.quantity.shift(24*3)
ar4 = data3.quantity.shift(24*4)
ar5 = data3.quantity.shift(24*5)
ar6 = data3.quantity.shift(24*6)
ar7 = data3.quantity.shift(24*7)

q_ar = pd.concat([ar1,ar2,ar3,ar4,ar5,ar6,ar7],axis=1)
q_ar.columns = ['q_ar1','q_ar2','q_ar3','q_ar4','q_ar5','q_ar6','q_ar7']
q_ar

      q_ar1  q_ar2  q_ar3  q_ar4  q_ar5  q_ar6  q_ar7
0       NaN    NaN    NaN    NaN    NaN    NaN    NaN
1       NaN    NaN    NaN    NaN    NaN    NaN    NaN
2       NaN    NaN    NaN    NaN    NaN    NaN    NaN
3       NaN    NaN    NaN    NaN    NaN    NaN    NaN
4       NaN    NaN    NaN    NaN    NaN    NaN    NaN
...     ...    ...    ...    ...    ...    ...    ...
9523    NaN  0.469  0.285  0.552  0.233  1.434  0.503
9524    NaN  0.008  0.008  0.014  0.000  0.004  0.012
9525    NaN  0.000  0.000  0.000  0.000  0.000  0.000
9526    NaN  0.000  0.000  0.000  0.000  0.000  0.000
9527    NaN  0.000  0.000  0.000  0.000  0.000  0.000

[9528 rows x 7 columns]

In [43]:
# 7일간의 동시간 일사량 자기회귀

ar1 = data3.radiation.shift(24*1)
ar2 = data3.radiation.shift(24*2)
ar3 = data3.radiation.shift(24*3)
ar4 = data3.radiation.shift(24*4)
ar5 = data3.radiation.shift(24*5)
ar6 = data3.radiation.shift(24*6)
ar7 = data3.radiation.shift(24*7)

r_ar = pd.concat([ar1,ar2,ar3,ar4,ar5,ar6,ar7],axis=1)
r_ar.columns = ['r_ar1','r_ar2','r_ar3','r_ar4','r_ar5','r_ar6','r_ar7']
r_ar.reset_index(drop=True,inplace=True)
r_ar

      r_ar1  r_ar2  r_ar3  r_ar4  r_ar5  r_ar6  r_ar7
0       NaN    NaN    NaN    NaN    NaN    NaN    NaN
1       NaN    NaN    NaN    NaN    NaN    NaN    NaN
2       NaN    NaN    NaN    NaN    NaN    NaN    NaN
3       NaN    NaN    NaN    NaN    NaN    NaN    NaN
4       NaN    NaN    NaN    NaN    NaN    NaN    NaN
...     ...    ...    ...    ...    ...    ...    ...
9523    NaN    NaN   0.12   0.25   0.20   0.23   0.25
9524    NaN    NaN   0.09   0.11   0.09   0.09   0.07
9525    NaN    NaN   0.00   0.00   0.00   0.00   0.00
9526    NaN    NaN   0.00   0.00   0.00   0.00   0.00
9527    NaN    NaN   0.00   0.00   0.00   0.00   0.00

[9528 rows x 7 columns]

In [44]:
ar = pd.concat([q_ar,r_ar],axis=1)
ar

,q_ar1,q_ar2,q_ar3,q_ar4,q_ar5,q_ar6,q_ar7,r_ar1,r_ar2,r_ar3,r_ar4,r_ar5,r_ar6,r_ar7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9523,NaN,0.469,0.285,0.552,0.233,1.434,0.503,NaN,NaN,0.12,0.25,0.20,0.23,0.25
9524,NaN,0.008,0.008,0.014,0.000,0.004,0.012,NaN,NaN,0.09,0.11,0.09,0.09,0.07
9525,NaN,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,0.00,0.00,0.00,0.00,0.00
9526,NaN,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,0.00,0.00,0.00,0.00,0.00
9527,NaN,0.000,0.000,0.000,0.000,0.000,0.000,NaN,NaN,0.00,0.00,0.00,0.00,0.00

In [45]:
ar.isna().sum()

q_ar1    120
q_ar2    120
q_ar3    144
q_ar4    168
q_ar5    192
q_ar6    216
q_ar7    240
r_ar1     62
r_ar2     62
r_ar3     72
r_ar4     96
r_ar5    120
r_ar6    144
r_ar7    168
dtype: int64

In [46]:
data4 = pd.concat([data3,ar],axis=1)
data4

,date,quantity,radiation,altitude,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain,...,q_ar5,q_ar6,q_ar7,r_ar1,r_ar2,r_ar3,r_ar4,r_ar5,r_ar6,r_ar7
0,2019-07-01 00:00:00+09:00,0.0,0.0,-29.27220,24.0,1.6,252.0,80.0,3.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-07-01 01:00:00+09:00,0.0,0.0,-29.40307,23.7,1.5,253.7,81.7,3.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-07-01 02:00:00+09:00,0.0,0.0,-26.39168,23.3,1.4,255.3,83.3,3.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-07-01 03:00:00+09:00,0.0,0.0,-20.49290,23.0,1.3,257.0,85.0,3.0,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-07-01 04:00:00+09:00,0.0,0.0,-12.50007,23.0,1.2,254.3,85.0,3.0,13.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9523,2020-07-31 19:00:00+09:00,NaN,NaN,6.15018,27.3,1.9,233.7,81.7,4.0,50.0,...,0.233,1.434,0.503,NaN,NaN,0.12,0.25,0.20,0.23,0.25
9524,2020-07-31 20:00:00+09:00,NaN,NaN,-4.50392,26.7,1.7,219.3,83.3,4.0,40.0,...,0.000,0.004,0.012,NaN,NaN,0.09,0.11,0.09,0.09,0.07
9525,2020-07-31 21:00:00+09:00,NaN,NaN,-15.01526,26.0,1.4,205.0,85.0,4.0,30.0,...,0.000,0.000,0.000,NaN,NaN,0.00,0.00,0.00,0.00,0.00
9526,2020-07-31 22:00:00+09:00,NaN,NaN,-23.49217,25.7,1.3,203.3,86.7,4.0,30.0,...,0.000,0.000,0.000,NaN,NaN,0.00,0.00,0.00,0.00,0.00
9527,2020-07-31 23:00:00+09:00,NaN,NaN,-30.32584,25.3,1.3,201.7,88.3,4.0,30.0,...,0.000,0.000,0.000,NaN,NaN,0.00,0.00,0.00,0.00,0.00

# 상관관계

In [47]:
# 변수 간 상관계수

corr = data4.corr()
corr

,quantity,radiation,altitude,pre_temperature,pre_wind_speed,pre_wind_direction,pre_humidity,pre_cloud,pre_rain,radiation_st_mean,...,q_ar5,q_ar6,q_ar7,r_ar1,r_ar2,r_ar3,r_ar4,r_ar5,r_ar6,r_ar7
quantity,1.000000,0.932249,0.752267,0.192926,0.157282,0.084950,-0.446629,-0.185895,-0.190683,0.847947,...,0.787616,0.798715,0.790019,0.782616,0.757549,0.751355,0.744196,0.751741,0.761751,0.746219
radiation,0.932249,1.000000,0.768413,0.306190,0.192794,0.089345,-0.503333,-0.175339,-0.171945,0.875979,...,0.751404,0.760677,0.759780,0.819875,0.787569,0.780530,0.771949,0.781003,0.792602,0.782106
altitude,0.752267,0.768413,1.000000,0.402090,0.243677,0.025032,-0.306392,0.001775,0.026536,0.868277,...,0.756653,0.757202,0.757842,0.768686,0.768944,0.769399,0.770040,0.770495,0.770883,0.771290
pre_temperature,0.192926,0.306190,0.402090,1.000000,0.167079,-0.224053,0.085471,0.106263,0.158168,0.302812,...,0.206596,0.208178,0.210237,0.309190,0.309305,0.310395,0.309743,0.310948,0.316587,0.318497
pre_wind_speed,0.157282,0.192794,0.243677,0.167079,1.000000,0.075289,-0.187078,0.111392,0.245556,0.262684,...,0.187492,0.189033,0.195328,0.195416,0.213560,0.231772,0.223539,0.220065,0.223083,0.234537
pre_wind_direction,0.084950,0.089345,0.025032,-0.224053,0.075289,1.000000,-0.236672,-0.120535,-0.174242,0.070310,...,0.060443,0.052847,0.027232,0.000872,0.026797,0.017280,0.052749,0.068647,0.056014,0.031013
pre_humidity,-0.446629,-0.503333,-0.306392,0.085471,-0.187078,-0.236672,1.000000,0.396787,0.447783,-0.416042,...,-0.303072,-0.326031,-0.316149,-0.414801,-0.379189,-0.365295,-0.355865,-0.359252,-0.375805,-0.358104
pre_cloud,-0.185895,-0.175339,0.001775,0.106263,0.111392,-0.120535,0.396787,1.000000,0.815419,-0.021885,...,-0.024253,-0.038957,-0.015248,-0.068642,-0.032682,-0.020219,-0.003441,-0.019874,-0.035424,-0.006789
pre_rain,-0.190683,-0.171945,0.026536,0.158168,0.245556,-0.174242,0.447783,0.815419,1.000000,-0.004009,...,-0.012450,-0.029464,-0.000963,-0.052432,-0.018280,0.003116,0.010387,-0.003889,-0.021285,0.014471
radiation_st_mean,0.847947,0.875979,0.868277,0.302812,0.262684,0.070310,-0.416042,-0.021885,-0.004009,1.000000,...,0.846345,0.846982,0.848408,0.875719,0.873439,0.873500,0.873816,0.872197,0.872221,0.872961
radiation_st_quantile1,0.838148,0.857574,0.813782,0.259523,0.268936,0.079868,-0.436455,-0.034418,-0.017569,0.978929,...,0.830940,0.831265,0.833351,0.857048,0.853254,0.851860,0.851173,0.847242,0.846866,0.848187
radiation_st_quantile2,0.849188,0.874416,0.854572,0.287279,0.261399,0.074264,-0.418689,-0.023821,-0.006355,0.998219,...,0.846749,0.847140,0.848541,0.874061,0.871533,0.871371,0.871409,0.869476,0.869213,0.869934
radiation_st_quantile3,0.843433,0.874243,0.875985,0.318430,0.259127,0.065452,-0.403561,-0.018578,0.000017,0.998009,...,0.843472,0.844236,0.845519,0.874061,0.872137,0.872684,0.873327,0.872387,0.872526,0.873110
quantity_st_mean,0.883614,0.840714,0.848612,0.198738,0.219267,0.050752,-0.344785,-0.025700,-0.011371,0.959669,...,0.879811,0.879981,0.881309,0.840228,0.838010,0.837317,0.836920,0.834624,0.834441,0.835233
quantity_st_quantile1,0.873157,0.828212,0.808973,0.196743,0.225427,0.053334,-0.350759,-0.034900,-0.018733,0.945318,...,0.865990,0.866142,0.868198,0.827444,0.824043,0.822744,0.821943,0.818276,0.817835,0.819130
quantity_st_quantile2,0.882228,0.834309,0.833228,0.182518,0.217821,0.054125,-0.346917,-0.028097,-0.013885,0.952330,...,0.877481,0.877450,0.878860,0.833718,0.831303,0.830371,0.829677,0.826995,0.826584,0.827483
quantity_st_quantile3,0.882234,0.838842,0.857422,0.198368,0.214652,0.048674,-0.337489,-0.022239,-0.008405,0.957592,...,0.879596,0.879745,0.880793,0.838426,0.836658,0.836210,0.835953,0.834169,0.834017,0.834640
radiation_ct_mean,0.882669,0.877511,0.798719,0.152917,0.176541,0.094992,-0.485561,-0.200280,-0.165352,0.900822,...,0.796878,0.805561,0.795235,0.822997,0.801947,0.795617,0.786966,0.796161,0.807062,0.793095
radiation_ct_quantile1,0.868527,0.852292,0.690865,0.126300,0.135694,0.089473,-0.481290,-0.279217,-0.234404,0.822928,...,0.737244,0.749877,0.733732,0.769631,0.736975,0.727443,0.714118,0.729018,0.745356,0.723707
radiation_ct_quantile2,0.880719,0.873036,0.760400,0.143711,0.162727,0.096618,-0.494945,-0.248176,-0.204030,0.873492,...,0.775520,0.785348,0.772611,0.805661,0.779946,0.772089,0.761389,0.772841,0.785445,0.767900
radiation_ct_quantile3,0.876069,0.873257,0.827910,0.158124,0.186510,0.095181,-0.478012,-0.168913,-0.140225,0.915992,...,0.808334,0.815877,0.807918,0.830045,0.813611,0.808629,0.801822,0.808325,0.817430,0.806552
quantity_ct_mean,0.909611,0.851545,0.786048,0.113391,0.138286,0.062252,-0.398619,-0.206453,-0.172758,0.867060,...,0.817505,0.827746,0.816333,0.795095,0.772533,0.766460,0.757799,0.766980,0.778696,0.763752
quantity_ct_quantile1,0.886435,0.818521,0.680118,0.090397,0.101853,0.061189,-0.404546,-0.286252,-0.242997,0.781930,...,0.748365,0.763112,0.745501,0.734659,0.700465,0.691480,0.678830,0.692784,0.709552,0.687021
quantity_ct_quantile2,0.907584,0.846903,0.761570,0.106606,0.128239,0.063499,-0.405477,-0.236678,-0.199340,0.848870,...,0.802690,0.814772,0.802042,0.783028,0.757587,0.750338,0.740161,0.750465,0.764093,0.747204
quantity_ct_quantile3,0.903350,0.851618,0.823053,0.122281,0.153153,0.062266,-0.389505,-0.165462,-0.136970,0.892299,...,0.835586,0.843263,0.834937,0.809542,0.793178,0.788513,0.782171,0.788493,0.797309,0.786330
q_ar1,0.826411,0.794029,0.752705,0.201104,0.158870,-0.011999,-0.366789,-0.082030,-0.067410,0.848187,...,0.784241,0.787616,0.798715,0.932249,0.782616,0.757549,0.751355,0.744196,0.751741,0.761751
q_ar2,0.800433,0.766697,0.753141,0.200948,0.176193,0.021930,-0.323806,-0.038949,-0.029213,0.845757,...,0.795336,0.784241,0.787616,0.794029,0.932249,0.782616,0.757549,0.751355,0.744196,0.751741
q_ar3,0.795336,0.758237,0.754772,0.204069,0.197935,0.015043,-0.315773,-0.036917,-0.014273,0.847242,...,0.800416,0.795521,0.784461,0.766697,0.794029,0.932221,0.782624,0.757623,0.751659,0.744421
q_ar4,0.784241,0.747867,0.755743,0.205760,0.187281,0.037867,-0.304538,-0.015015,-0.003554,0.847920,...,0.826319,0.800332,0.795462,0.758237,0.766697,0.793974,0.932225,0.782544,0.757801,0.751552
q_ar5,0.787616,0.751404,0.756653,0.206596,0.187492,0.060443,-0.303072,-0.024253,-0.012450,0.846345,...,1.000000,0.826262,0.800333,0.747867,0.758237,0.766627,0.793842,0.932220,0.782614,0.757774
q_ar6,0.798715,0.760677,0.757202,0.208178,0.189033,0.052847,-0.326031,-0.038957,-0.029464,0.846982,...,0.826262,1.000000,0.826215,0.751404,0.747867,0.758270,0.766525,0.793754,0.932457,0.782540
q_ar7,0.790019,0.759780,0.757842,0.210237,0.195328,0.027232,-0.316149,-0.015248,-0.000963,0.848408,...,0.800333,0.826215,1.000000,0.760677,0.751404,0.747827,0.758214,0.766449,0.793929,0.932426
r_ar1,0.782616,0.819875,0.768686,0.309190,0.195416,0.000872,-0.414801,-0.068642,-0.052432,0.875719,...,0.747867,0.751404,0.760677,1.000000,0.819875,0.787569,0.780530,0.771949,0.781003,0.792602
r_ar2,0.757549,0.787569,0.768944,0.309305,0.213560,0.026797,-0.379189,-0.032682,-0.018280,0.873439,...,0.758237,0.747867,0.751404,0.819875,1.000000,0.819875,0.787569,0.780530,0.771949,0.781003
r_ar3,0.751355,0.780530,0.769399,0.310395,0.231772,0.017280,-0.365295,-0.020219,0.003116,0.873500,...,0.766627,0.758270,0.747827,0.787569,0.819875,1.000000,0.819817,0.787500,0.780499,0.771886
r_ar4,0.744196,0.771949,0.770040,0.309743,0.223539,0.052749,-0.355865,-0.003441,0.010387,0.873816,...,0.793842,0.766525,0.758214,0.780530,0.787569,0.819817,1.000000,0.819709,0.787517,0.780474
r_ar5,0.751741,0.781003,0.770495,0.310948,0.220065,0.068647,-0.359252,-0.019874,-0.003889,0.872197,...,0.932220,0.793754,0.766449,0.771949,0.780530,0.787500,0.819709,1.000000,0.819715,0.787459
r_ar6,0.761751,0.792602,0.770883,0.316587,0.223083,0.056014,-0.375805,-0.035424,-0.021285,0.872221,...,0.782614,0.932457,0.793929,0.781003,0.771949,0.780499,0.787517,0.819715,1.000000,0.820016
r_ar7,0.746219,0.782106,0.771290,0.318497,0.234537,0.031013,-0.358104,-0.006789,0.014471,0.872961,...,0.757774,0.782540,0.932426,0.792602,0.781003,0.771886,0.780474,0.787459,0.820016,1.000000

In [48]:
data4.to_csv('./data.csv',index=False)